---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $ssserif;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ssserif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 0 0 1rem 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 4.5vh;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
	margin: 15px 0;
	font-size:2.5vh;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.logo{
	position:fixed;
	top:5vw;
	left:5vw;
	z-index:1;
	max-width:50vw;
}

#section--1{
	background:url({{site.baseurl}}/images/section-1-xl.jpg) no-repeat;
	background-size:cover;
	width:100vw;
	height:100vh;
	position:relative;
	.section-content{
		width:90vw;
		margin:auto;
		position:absolute;
		bottom:5vw;
		left:5vw;
		h1,h2,p{
			color:#fff;
			margin-bottom:5vh;
		}
		.btn1{
			display: flex;
			width: 39.5rem;
			height: 8rem;
			background: url({{site.url}}/images/section-1-btn.svg) no-repeat;
			align-items:center;
			justify-content:center;
		}
	}
}
#section--2{
	background:url({{site.baseurl}}/images/section-2-xl.jpg) no-repeat;
	background-size:cover;
	width:100vw;
	height:100vh;
	position:relative;
	.section-content{
		width:90vw;
		margin:auto;
		position:absolute;
		bottom:5vw;
		right:5vw;
		h1,h2,p{
			text-align:right;
			color:#fff;
			margin-bottom:5vh;
		}
		h2{
			font-size:4.5vh;
		}
	}
}
#section--3{
	background:url({{site.baseurl}}/images/section-2-xl.jpg) no-repeat;
	background-size:cover;
	width:100vw;
	height:100vh;
	.our-service{
		background:url({{site.baseurl}}/images/section-3-2-xl.jpg) no-repeat;
		background-size:cover;
		width:100%;
		height:50%;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			font-size: 7vh;
			color:#fff;
		}
		a:hover{
			color:#fff;
		}
	}
	.our-service:first-child{
		background:url({{site.baseurl}}/images/section-3-1-xl.jpg) no-repeat;
		background-size:cover;
	}
}

/*@media only screen and (min-width: 1200px){
	h1{
		font-size: 4.5vh;
	}
	p{
		font-size: 2.5vh;
	}
}*/

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
